*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
margin: auto;
margin-top: 50px;
box-shadow: 4px 3px 5px;
border-radius: 10px;
}
.title_small{
    font-size: 20px;
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:60px;
}
.form_control{
    display: flex;
    flex-direction: column;

}
label{font-size: 25px;
margin-bottom: 5px;}

input,select,textarea{
    padding: 6px 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 15px;

}
input:focus{
    outline-color: red;
}

.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-out;
}
button:hover{
    background-color: gray;
    border: 2px soild red;
    color: black;
}

.textarea_container{

    grid-column:1/ span 2 ;
}
.textarea_container textarea{
width:100%; 
}

@media(max-width:350){
    .textarea_container{

        grid-column:1/ span 1 ;
    }
}
